<aside class="fixed p-auto max-h-auto font-bold top-24">
  <ul class="flex flex-col justify-between items-start px-2">
    <li class="">
      <img class="w-9 rounded-full inline align-middle m-2" src="/assets/dist/img/avatar.png" alt="">
      <span>Xin chào nhóm 3</span>
    </li>
    <li class="">
      <button type="button" class="w-full pr-32 rounded-full transition hover:bg-orange-500 duration-300">
        <ion-icon class="text-2xl align-middle m-2" name="people"></ion-icon>
       <span>Bạn bè</span>
      </button>
    </li>
    <li class="">
      <button type="button" class="w-full pr-32 rounded-full transition hover:bg-orange-500 duration-300">
        <ion-icon class="text-2xl align-middle m-2"name="book"></ion-icon>
        <span>Bài đăng</span>
      </button>
    </li>
    <li class="">
      <button type="button" class="w-full pr-32 rounded-full transition hover:bg-orange-500 duration-300">
        <ion-icon class="text-2xl align-middle m-2" name="heart"></ion-icon>
        <span>Đã like</span>
      </button>
    </li>
  </ul>
</aside>