<header class="fixed md:flex w-full bg-white shadow-lg p-3 flex justify-between items-center ">
  <nav class="flex justify-between items-center w-[92%] mx-auto">
    <div>
      <img class="w-12 rounded-full" src="/assets/dist/img/logo.jpg" alt="Logo">
    </div>
    <div class="nav-links md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
      <ul class="flex md:flex-row flex-col items-center md:items-center md:gap-[4vw] gap-8">
        <li><a class="hover:text-orange-400" href="#">Trang chủ</a></li>
        <li><a class="hover:text-orange-400" href="#">Bài viết</a></li>
        <li><a class="hover:text-orange-400" href="#">Liên hệ</a></li>
      </ul>
    </div>
    <div class="flex items-center gap-6">
      <button type="button" class="px-3 py-2 rounded-full transition bg-orange-500 hover:bg-orange-600 duration-300">
        Sign in
      </button>
      <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
    </div>
  </nav>
</header>