<nav class="navbar navbar-expand-sm navbar-dark shadow-lg" style="background-color:#FF6D0A;">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
          </ul>
          <form class="d-flex">
            <button class="btn bi bi-search" style="background-color:#FF6D0A;"></button>
            <button class="btn bi bi-house" style="background-color:#FF6D0A;"></button>
            <button class="btn bi bi-pencil-square" style="background-color:#FF6D0A;"></button>
            <button class="btn bi bi-person-circle" style="background-color:#FF6D0A;"></button>
          </form>
        </div>
      </div>
  </nav>