<!DOCTYPE html>
<html lang="en" th:replace="~{/views/user/layout/index :: dynamic(~{ :: main})}">
<main class="pt-24">
  <div class="flex justify-center items-center ">
    <div class="bg-gray-100 py-3 rounded-md">
      <div class="flex flex-row mb-3">
        <img class="w-10 rounded-full ml-3" src="/assets/dist/img/avatar.png" alt="post photo">
        <span class="mx-3 align-middle">Minh Duy</span>
      </div>
      <div>
        <p class="ml-3">Hello guys this is my first post ! Check it out</p>
      </div>
      <div class="border">
        <img class="min-w-[500px] h-auto " src="/assets/dist/img/avatar.png" alt="post photo">
      </div>
    </div>
  </div>
</main>
</html>